---
import ProcessTool from "../components/ProcessTool"
import MainLayout from "../layouts/main.astro"
import AnnotationsAppButton from "../components/apps/AnnotationsAppButton.astro";
import Company from "../components/Company.astro";
import AnnotationsApp from "../apps/annotations/AnnotationsApp";
---
<MainLayout>
    <title> Annotations | Neonn language tools </title>
    <Company slot="logo" />
    <div class="mb-4">
        <AnnotationsAppButton />
    </div>
    <AnnotationsApp client:only="react" />
	
</MainLayout>
