---
import ProcessTool from "../components/ProcessTool"
import MainLayout from "../layouts/main.astro"
---

<MainLayout>
	<h1> E-Reader CSV extractor </h1>
	<p> Extract your annotations from your e-reader easily! </p>

	<ProcessTool client:load />
</MainLayout>
