---
import { Image } from "astro:assets"
import logo from "../images/annotations.svg"
---

<a href="/" class=" text-black inline-flex items-center gap-3">
    <Image src={logo} alt="Annotations service logo" width="30" height="30" />
    <span class="font-bold font-display">Annotations</span>
  </a>