---
import { Image } from "astro:assets"
import logo from "../images/neonn.svg"
---

<a href="/" class=" text-black inline-flex items-center gap-3">
    <Image src={logo} alt="Neonn logo" width="30" height="30" />
    <span class="font-bold font-display">Neonn</span>
  </a>